<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    
    <h3> Name : <%= name[0] %> </h3>
    <h3> Name : <%= name[1] %> </h3>
    <h3> Name : <%= name[2] %> </h3>

    <ol>
        <% for(var i = 0; i < name.length; i++) { %>
            <li> <%= name[i] %> </li>
        <%  } %>
    </ol>

</body>
</html>